@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible;
}

.container.clock {
    width: 25%;
}

.block {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f5865;
    background-color: #f7f7ff;
    font-family: "Noto Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.col {
    width: 110px;
}

.always,
.active {
    color: #ffb9f3;
    text-shadow: 1px 1px 6px #4909b2, 2px 2px 0.5rem #cf6cff, 2px 1px 1em #f71aff, 1px 5px 2em #ff0061;
    background-color: #b299d5;
}

